<h2><%= l(:label_sla_rules) %></h2>

<%= sla_settings_tabs("rules", @project) %>

<table class="list">
  <thead>
    <tr>
      <th><%= l(:field_tracker) %></th>
      <th><%= l(:field_priority) %></th>
      <th><%= l(:field_sla_kpi) %></th>
      <th><%= l(:field_sla_target_minutes) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.tracker_id.zero? ? l(:label_sla_any) : Tracker.find(rule.tracker_id).name %></td>
        <td><%= rule.priority_id.zero? ? l(:label_sla_any) : IssuePriority.find(rule.priority_id).name %></td>
        <td><%= l("label_sla_kpi_#{rule.kpi}") %></td>
        <td><%= rule.target_minutes %></td>
        <td>
          <%= button_to l(:button_delete),
                         (@project ? project_sla_rule_path(id: @project.id, rule_id: rule.id) : redmine_sla_rule_path(rule_id: rule.id)),
                         method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3><%= l(:label_sla_add_rule) %></h3>
<%= form_tag(@project ? project_sla_rules_path(@project) : redmine_sla_rules_path) do %>
  <p>
    <label><%= l(:field_tracker) %></label>
    <%= select_tag "sla_rule[tracker_id]", options_for_select([ [ l(:label_sla_any), 0 ] ] + @trackers.map { |t| [ t.name, t.id ] }) %>

    <label><%= l(:field_priority) %></label>
    <%= select_tag "sla_rule[priority_id]", options_for_select([ [ l(:label_sla_any), 0 ] ] + @priorities.map { |p| [ p.name, p.id ] }) %>

    <label><%= l(:field_sla_kpi) %></label>
    <%= select_tag "sla_rule[kpi]", options_for_select(RedmineSla::SlaRule::KPIS.map { |k| [ l("label_sla_kpi_#{k}"), k ] }) %>

    <label><%= l(:field_sla_target_minutes) %></label>
    <%= text_field_tag "sla_rule[target_minutes]", nil, size: 6 %>

    <%= submit_tag l(:label_sla_add_rule) %>
  </p>
<% end %>
